<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homenew.css') }}">
    </head>
    <body>
        <!-- <div id="success" class="button">Click me for Success!</div>
        <div id="failure" class="button">Click me for Failure!</div> -->

        <div class="notify"><a href="/video" style="color:white;font-size:28px"></style><span id="notifyType" class=""></span></a></div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>


        show_notification = function () {
            $(".notify").toggleClass("active");
            $("#notifyType").toggleClass("success");
            
            setTimeout(function(){
                $(".notify").removeClass("active");
                $("#notifyType").removeClass("success");
            },1500);
        };

        $("#failure").click(function () {
            $(".notify").addClass("active");
            $("#notifyType").addClass("failure");
            
            setTimeout(function(){
                $(".notify").removeClass("active");
                $("#notifyType").removeClass("failure");
            },2000);
        });
    </script>
    <script>
        looper = function () {
            fetch("/activated").then((response) => {
                //handle response
                return response.json()
                
            })
            .then((data) => {
                console.log(data)
                if (data.activated) {
                    show_notification()
                }
            })
            .catch(function () {
                //error
                console.error('Could not check for notifications')
            })

            setTimeout(looper, 2000)
        }

        looper()
    </script>
    <script>
        const elem = document.documentElement
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) { /* Safari */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE11 */
            elem.msRequestFullscreen();
        }

    </script>
</html>

