<html>
	<body style="background-color:black">
		<video id='my-video' width="100%" height="100%">
		  <source src="/static/video.mp4" type="video/mp4">
		  <source src="video.ogg" type="video/ogg">
		Your browser does not support the video tag, video.mp4 does not exist
		</video>

		<script>    
		
			document.addEventListener('keydown', pressKey);
			
			function pressKey() {
				document.getElementById('my-video').play()
			}
			
			document.getElementById('my-video').addEventListener('click', function() {
			   if (this.paused) {
				  this.play();
			   } else {
				  this.pause();
			   }
			});
		</script>
		<script>
			function sleep(ms) {
				return new Promise(resolve => setTimeout(resolve, ms));
			}
			sleep(2000)
			document.getElementById('my-video').click();
		</script>
	</body>
</html>